<li id="<%= dom_id list %>">
  <div>
      <span class="task_count badge"><%= list.tasks.active.count %></span>
      <h3><%= link_to list.name, list %></h3>
  </div>
  <div>
      <%= link_to "Edit", edit_list_path(list) %>
      <%= link_to "Delete", list, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" }, class: "delete-button" %>
  </div>
</li>
