<% content_for :title, @list.name %>
<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= turbo_stream_from @list %>

<%= render "title" %>
<% unless @priority %>
    <%= render "tabs" %>
    <%= render "task_form" %>
<% end %>
<% if @tasks.any? %>
    <ul id="tasks" data-controller="sortable tasks" data-sortable-url-value="<%= sort_tasks_path %>">
        <%= render @tasks %>
    </ul>
<% else %>
  <p id="tasks" class="text-center"> No tasks yet!</p>
<% end %>
