<% if flash.any? %>
  <div class="flash"><%= notice %></div>
<% end %>
<% content_for :title, @list.name %>
<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= turbo_stream_from @list %>

<h1 class="list_name"><%= @list.name %></h1>
<div id="list_actions">
    <%= link_to "Tasks", list_path(@list) %> |
    <%= link_to "Snoozed", snoozed_list_path(@list) %>
</div>
<%= form_with(model: [@list,@task], id: :new_task_form) do |form| %>
  <% if @task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.text_field :description %>
    <%= form.submit "ADD" %>
<% end %>
<% if @tasks.any? %>
    <ul id="tasks" data-controller="sortable tasks" data-sortable-url-value="<%= sort_tasks_path %>">
        <%= render @tasks %>
    </ul>
<% else %>
  <p id="tasks" class="text-center"> No tasks yet!</p>
<% end %>
<p class="blue-text italic text-s text-center">Completed <%= @list.tasks.completed.count %> out of <%= @list.tasks.unsnoozed.count %> tasks!</p>
