<% content_for :title, @list.name %>
<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= turbo_stream_from @list %>
<% highlight_id = params[:highlight].to_i if params[:highlight] %>

<%= render "title" %>
<%= render "tabs" %>
<%= render "task_form" unless @priority %>

<% if @filter == "completed" %>
<div id="tasks">
    <h1>Today</h1>
    <ul class="tasks">
        <%= render @tasks.completed_today %>
    </ul>
    <h1>Yesterday</h1>
    <ul class="tasks">
        <%= render @tasks.completed_yesterday %>
    </ul>
    <h1>This Week</h1>
    <ul class="tasks">
        <%= render @tasks.completed_this_week %>
    </ul>
</div>
<% elsif @tasks.any? %>
    <%= tag.ul id: "tasks",
        class: class_names(priority: @filter == "priority"),
        data: (@filter ? {} : { controller: "sortable tasks highlight-remover", sortable_url_value: sort_tasks_path }) do %>
        <%= render partial: "tasks/task", collection: @tasks, as: :task, locals: { highlight: highlight_id } %>
    <% end %>
<% else %>
  <p id="tasks" class="text-center">No tasks yet!</p>
<% end %>
