<% content_for :title, @list.name %>
<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= turbo_stream_from @list %>
<% highlight_id = params[:highlight].to_i if params[:highlight] %>

<section class="min-w-0 overflow-hidden">
<%= render "title" %>
<%= render "tabs" %>
<% unless @priority %><hr class="border-border-primary mb-4"><% end %>
<%= render "category_filters" unless @priority %>
<%= render "task_form" unless @priority %>

<% if @filter == "completed" %>
<div id="tasks">
    <%= render "completed_list", title: "Today", tasks: @tasks.completed_today %>
    <%= render "completed_list", title: "Yesterday", tasks: @tasks.completed_yesterday %>
    <%= render "completed_list", title: "This Week", tasks: @tasks.completed_this_week %>
    <%= render "completed_list", title: "This Month", tasks: @tasks.completed_this_month %>
    <% @completed_years.each do |year| %>
      <%= render "completed_year_placeholder", list: @list, year: year %>
    <% end %>
</div>
<% elsif @tasks.any? %>
    <%= tag.ul id: "tasks",
        class: class_names("p-1 list-none", "border-4 border-sky-400 rounded-lg": @filter == "priority"),
        data: (@filter ? {} : { controller: "sortable tasks highlight-remover", sortable_url_value: sort_tasks_path }) do %>
        <%= render partial: "tasks/task", collection: @tasks, as: :task, locals: { highlight: flash[:highlight] } %>
    <% end %>
<% else %>
  <p id="tasks" class="text-center text-brand-grey px-4">No tasks yet!</p>
<% end %>
</section>
