<% content_for :title, @list.name %>
<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= turbo_stream_from @list %>
<% highlight_id = params[:highlight].to_i if params[:highlight] %>

<% unless @priority %>
    <section class="list_info">
        <%= logo %>
        <%= link_to "<i class='fa-solid fa-square-plus'></i> New List".html_safe, new_list_path, class: "button" %>
    <ul id="lists">
    <%= render @lists %>
    </ul>
    </section>
<% end %>

<section class="list">
<%= render "title" %>
<%= render "tabs" %>
<%= render "task_form" unless @priority %>

<% if @filter == "completed" %>
<div id="tasks">
    <%= render "completed_list", title: "Today", tasks: @tasks.completed_today %>
    <%= render "completed_list", title: "Yesterday", tasks: @tasks.completed_yesterday %>
    <%= render "completed_list", title: "This Week", tasks: @tasks.completed_this_week %>
    <%= render "completed_list", title: "Longer ago ...", tasks: @tasks.completed_more_than_a_week_ago %>
</div>
<% elsif @tasks.any? %>
    <%= tag.ul id: "tasks",
        class: class_names(priority: @filter == "priority"),
        data: (@filter ? {} : { controller: "sortable tasks highlight-remover", sortable_url_value: sort_tasks_path }) do %>
        <%= render partial: "tasks/task", collection: @tasks, as: :task, locals: { highlight: flash[:highlight] } %>
    <% end %>
<% else %>
  <p id="tasks" class="text-center">No tasks yet!</p>
<% end %>
</section>
