<%= turbo_frame_tag "note_#{task&.id || @task&.id}", class: "note" do %>
    <%= form_with model: task || @task, url: task_path(task || @task), method: :patch do |form| %>
        <%= form.text_area :note, rows: 5, class: "note-field", placeholder: "Write a note..." %>
        <div class="buttons">
            <%= form.submit "Save Note", class: "button" %>
            <%= link_to "CANCEL", @task.list %>
        </div>
    <% end %>
<% end %>
