<div data-controller="snoozer" data-task-id="<%= task.id %>" class="custom-select">
  <button title="Snooze" class="task_button" data-action="click->snoozer#toggle">
      <i class="fa-solid fa-clock"></i>
  </button>
  <ul data-snoozer-target="menu" class="dropdown-menu" hidden>
    <li data-action="click->snoozer#select" data-value="<%= 1.day.from_now.iso8601 %>">Day</li>
    <li data-action="click->snoozer#select" data-value="<%= 1.week.from_now.iso8601 %>">Week</li>
    <li data-action="click->snoozer#select" data-value="<%= 1.month.from_now.iso8601 %>">Month</li>
    <li data-action="click->snoozer#select" data-value="<%= 1.year.from_now.iso8601 %>">Year</li>
    <li data-action="click->snoozer#select" data-value="<%= 200.years.from_now.iso8601 %>">Forever</li>
  </ul>
</div>
