<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Priority" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/6b5e91c70a.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <% if authenticated? %>
        <header>
            <%= render "lists/dropdown" %>
        </header>
    <% end %>

    <main>
    <%= yield %>
    </main>
    <% unless @priority %>
        <footer>
            <% if authenticated? %>
            <div class="user-info">
                <% if @list&.id %>
                    <%= link_to "Edit", edit_list_path(@list) %>
                    <%= link_to "Delete", @list, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" }, class: "delete-button" %>
                <% end %>
                <%= button_to "Sign Out", session_path, method: :delete, class: "unbutton" %>
            </div>
            <% end %>
        </footer>
    <% end %>
  </body>
</html>
